html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media only screen and (max-width: 640px) {
  :root {
    font-size: 12px;
  }
}

a {
  color: #0071e3;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 200%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 180%;
  margin-bottom: 1.4rem;
}

h3 {
  font-size: 150%;
  margin-bottom: 1rem;
}

h4 {
  font-size: 120%;
  margin-bottom: 0.6rem;
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 2rem;
}
